server:
  port: 8080

spring:
  application:
    name: product-crud

datasource:
  url:jdbc: mysql://localhost:3306/products
  username: root
  password: anitha
  driver-class-name: oracle.jdbc.OracleDriver

jpa:
  show-sql: true
  hibernate:
    ddl-auto: none
    properties:
      hibernate:
      dialect: org.hibernate.dialect.OracleDialect

logging:
  level:
    org.springframework: INFO
